<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--Exercise 1-->
<p>Some random text just for you!</p>
<button id="btn">Some shit</button>
<br>
<br>

<!--Exercise 2-->

    <label for="name">Name</label>
    <input id="name" type="text">
    <label for="sex">Sex (Male or Female)</label>
    <input id="sex" type="text">
    <input type="submit" id="submitBtn" value="Submit">

<br>
<br>

<!--Exercise 3-->

<a href="https://rustyjane.wix.com/rustyjaneofficial" id="linkBand" target="_blank" hreflang="en">Link</a>
<button id="btnLink">Click me!</button>
<br>
<br>
<br>
<br>

<!--Exercise 5-->
<table id="table">
    <tr>
        <td>Marcus</td>
        <td>Finnberg</td>
    </tr>
    <tr>
        <td>Alex</td>
        <td>Smith</td>
    </tr>
</table>
<button id="addRow">Add row</button>

<!--Laddar scriptet-->
<script src="../scripts/index.js"></script>
</body>
</html>